// image and button customization
.image-cropper {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    margin: 1.5em 1.5em 1.5em 0em;
}

.cv .image-cropper {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    float: right;
    margin: 1em 0em 1em 1em;
}

img {
    display: inline;
    margin: 0em auto;
    height: 100%;
    width: auto;
}

img.square {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    float: right;
    margin: 1em 0em 1em 1em;
    display: inline;
}

.button {
  border-radius: 0.25em;
  background-color: #4CAF50; /* Green */
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1em;
  padding: 0.55em;
  width: 10em;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0.5em;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -0.75em;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 1em;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

