.image-cropper {
    width: 200px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    right: 0px;
}

img {

    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}
