.image-cropper {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

img {
    float: right;
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}
