/* font family */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-family: Verdana, Geneva, sans-serif
}

body, p, .cv li, .cv ul li {
    font-family: 'Merriweather', Georgia, Times;
}

/* override bootstrap body width */

@media (min-width: 1200px) {
  .container {
    width: 900px;
  }
}

@media (min-width: 800px) {
  .footer {
    width: 600px;
  }
}

/* body, nav, footer */
body { 
    padding-top: 40px;
    padding-bottom: 40px;
    overflow-y: scroll;
    overflow-x: hidden;
}

nav { margin-bottom: 35px; }

nav ul, footer ul {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: 20px auto;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li {
    display: inline;
    margin-right: 35px;
    font-size: 15px;
}

footer {
	border-top: 1px solid #d5d5d5; /* grey border */
    float: left;
    font-size: 13px;
    bottom: 0px;
    height: 75px;
}

footer ul li {
    display: inline;
    margin-right: 80px;
    line-height: 200%;
}

/* paragraph and font */
a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
    color:#ccc;
}

h1 {
    font-size: 30px;
    padding-bottom: 15px;
}
h2 {
    font-size: 25px; 
    padding-bottom: 12.5px;
}
h3 {
    font-size: 20px; 
    padding-bottom: 10px;
}
p { 
    font-size: 20px;
    line-height: 200%;
    padding-bottom: 10px;
}


/* cv tab */
.cv ul li {
    font-size: 20px;
    line-height: 200%;
    list-style: disk;
    margin-left: -19px; /* match bulletpoint with paragraph */
    list-style-position: outside;
}
.cv ul li.innerbullet {
	list-style-type: circle;
	margin-left: 19px; /* place indentation for secondary bullet */
}

.cv h1 { font-style: italic; }
.cv h2 { text-decoration: underline; }

/* sidebar and main format under cv */

#sidebar {
  width: inherit;
  min-width: 220px;
  max-width: 220px;
  float: left;
  height:100%;
  position:relative;
  overflow-y:auto;
  overflow-x:hidden;
}

#main {
  height:100%;
  overflow:auto;
}

/*
 * off Canvas sidebar
 * --------------------------------------------------
 */

@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    width:calc(100% + 220px);
  }
    
  .row-offcanvas-left
  {
    left: -220px;
  }

  .row-offcanvas-left.active {
    left: 0;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
  }
}

/* about tab */
.about li {
    font-size: 30px;
    list-style: none;
}

/* fix position of content */
#fixedRight {
    float: right
    position: absolute;
}

#fixedLeft {
    float: left
    position: absolute;
}

/* image and button customization */
.image-cropper {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    margin: 15px;
}

.cv .image-cropper {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    float: right;
    margin: 15px;
}

img {
    display: inline;
    margin: 0px auto;
    height: 100%;
    width: auto;
}

img.square {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    float: right;
    margin: 15px;
    display: inline;
}

.button {
  border-radius: 5px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 25px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 9px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -12px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 18px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

