<!--footer>
	<ul>
		<li>Email Me @ <a href="mailto:bfang.01234@gmail.com">bfang.01234@gmail.com</a></li>
		<li><a href="https://github.com/bennyfang">My GitHub</a></li>
		<li><a href="https://www.linkedin.com/in/benny-fang-87479b8b?trk=hp-identity-photo">My LinkedIn</a></li>
		<li><a href="https://www.bennylicious.club">My FoodBlog</a></li>
	</ul>
</footer-->

<footer class="navbar navbar-default navbar-fixed-bottom">
	<div class="container">
    	<ul class="navbar-text pull-left">
			<li>Email Me @ <a href="mailto:bfang.01234@gmail.com">bfang.01234@gmail.com</a></li>
			<li><a href="https://github.com/bennyfang">My GitHub</a></li>
			<li><a href="https://www.linkedin.com/in/benny-fang-87479b8b?trk=hp-identity-photo">My LinkedIn</a></li>
			<li><a href="https://www.bennylicious.club">My FoodBlog</a></li>
    	</ul>
    </div>
</div>