<head>
  <meta charset="utf-8">
	<meta name="viewport" width="device-width, initial-scale=1.0">
	<meta name="description" content="{{ page.description }}">
	<meta name="author" content="Benny Fang">
	<title>{{ page.title }} | Benny Fang</title>

	<!-- bootstrap -->
  <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap-theme.min.css"/>

	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="../css/style.css">

</head>
