<div class="cvsidebar">
    <div id="nav-anchor"></div>
    <nav>
        <ul class="nav flex-column">
            <li><a href="#edu">My Education</a></li>
            <li><a href="#tech">My Technical Skills</a></li>
            <li><a href="#work">My Work Experience</a></li>
            <li><a href="#project">My Professional Projects</a></li>
            <li><a href="#ind">My Individual Projects</a></li>
            <li><a href="#hobby">My Hobbies and Interests</a></li>
        </ul>
    </nav>
</div><!-- /sidebar -->