<!--div class="cvsidebar">
    <div id="nav-anchor"></div>
        <nav id="sidebar">
        <h3>Navigation</h3>
            <ul class="nav nav-pills nav-stacked">>
                <li><a href="#edu" class="list-group-item">My Education Background</a></li>
                <li><a href="#tech" class="list-group-item">My Technical Skills</a></li>
                <li><a href="#work" class="list-group-item">My Work Experience</a></li>
                <li><a href="#project" class="list-group-item">My Professional Projects</a></li>
                <li><a href="#ind" class="list-group-item">My Individual Projects</a></li>
                <li><a href="#hobby" class="list-group-item">My Hobbies and Interests</a></li>
            </ul>
        </nav>
    </div>
</div -->

<div id="sidebar" class="sidebar-offcanvas">
    <nav class="col-md-12" id="nav-anchor">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#edu" class="list-group-item active">My Education Background</a></li>
            <li><a href="#tech" class="list-group-item">My Technical Skills</a></li>
            <li><a href="#work" class="list-group-item">My Work Experience</a></li>
            <li><a href="#project" class="list-group-item">My Professional Projects</a></li>
            <li><a href="#ind" class="list-group-item">My Individual Projects</a></li>
            <li><a href="#hobby" class="list-group-item">My Hobbies and Interests</a></li>
        </ul>
    </nav>
</div>